{% extends '@Realestate/admin.html.twig' %}

{% block body %}

    {#{{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('posts_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form, {'attr' : {'style': 'display: inline','onclick': 'return confirm("Confirm Delete?")'}}) }}
            <button type="submit" class="btn btn-danger btn-xs" value="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>#}

<div class="container">
    <div class="row">
        {% include '@Realestate/includes/sidebar.html.twig' %}

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Edit Post #{{ advert.id }}</div>
                <div class="panel-body">
                    <a href="{{ path('posts_index') }}" title="Back"><button class="btn btn-warning btn-xs"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>
                    <br />
                    <br />

                    {#{% if form_errors() is not empty %}
                    <ul class="alert alert-danger">
                        <li>{{ dump(form_errors()) }}</li>
                    </ul>
                    {% endif %}#}
                    {{ form_start(edit_form, {'method': 'post', 'attr': {'class': 'form-horizontal', 'enctype': 'multipart/form-data'}}) }}
                    <div class="form-group">
                        {{ form_label(edit_form.price) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.price) }}
                            {#{!! $errors->first('price', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.address) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.address) }}
                            {#{!! $errors->first('address', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    {#<div class="form-group">
                        {{ form_label(edit_form.location) }}
                        <div class="col-md-6">
                            <div id="map_canvas" style="width:100%; height:280px"></div>
                        </div>
                    </div>#}

                    <div class="form-group">
                        {{ form_label(edit_form.bedroom) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.bedroom) }}
                            {#{!! $errors->first('bedroom', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.livingroom) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.livingroom) }}
                            {#{!! $errors->first('livingroom', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.parking) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.parking) }}
                            {#{!! $errors->first('parking', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.kitchen) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.kitchen) }}
                            {#{!! $errors->first('kitchen', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.description) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.description) }}
                            {#{!! $errors->first('description', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.hot) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.hot.0) }}
                            {{ form_widget(edit_form.hot.1) }}
                            {#{!! $errors->first('hot', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.sold) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.sold.0) }}
                            {{ form_widget(edit_form.sold.1) }}
                            {#{!! $errors->first('sold', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.type) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.type) }}
                            {#{!! $errors->first('type', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.recommend) }}
                        <div class="col-md-6">
                            {{ form_widget(edit_form.recommend.0) }}
                            {{ form_widget(edit_form.recommend.1) }}
                            {#{!! $errors->first('recommend', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    {#{!! Form::hidden('location', null, ['id' => 'location']) !!}#}
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-4">
                            <input type="submit" class="btn btn-primary" value="Update" />
                        </div>
                    </div>
                    {{ form_end(edit_form) }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
