{% extends '@Realestate/admin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
    {% include '@Realestate/includes/sidebar.html.twig' %}
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Create New Post</div>
                    <div class="panel-body">
                        <a href="{{ path('posts_index') }}" title="Back"><button class="btn btn-warning btn-xs"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>
                        <br />
                        <br />

                        {#First Fileinput#}

                        {{ form_start(general) }}
                        {{ form_widget(general.general) }}
                        {% if csrf_token %}
                            <input type="hidden" name="realestatebundle_adverts[_token]" value="{{ csrf_token }}" />
                        {% endif %}
                        {{ form_end(general) }}
                        <br />
                        <br />

                        {#Second Fileinput#}
                        {{ form_start(images) }}
                        {{ form_widget(images.images) }}
                        {% if csrf_token %}
                            <input type="hidden" name="realestatebundle_adverts[_token]" value="{{ csrf_token }}" />
                        {% endif %}
                        {{ form_end(images) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        function basename(path) {
            return path.split(/[\\/]/).pop();
        }
        let imagesPreview = {};
        let imagesConfig = [];
        if(imagesPreview) {
            for (let i = 0; i < imagesPreview.length; i++) {
                imagesConfig.push({
                    caption: basename(imagesPreview[i]),
                    key: imagesPreview[i]
                });
            }
        } else {imagesPreview = []}
        //console.log($('input[name="realestatebundle_adverts[_token]"]').val());
        //console.log(imagesConfig);

        // Kartik initial preview General
        $("#realestatebundle_adverts_general").fileinput({
            uploadUrl:  window.location.origin+"/app_dev.php/posts/uploadgeneral",
            uploadAsync: true,
            maxFileCount: 1,
            purifyHtml: true, // this by default purifies HTML data for preview
            dropZoneEnabled: false,
            allowedFileExtensions:  ['jpg', 'png','gif'],
            uploadExtraData: {_token: $('input[name="realestatebundle_adverts[_token]"]').val() },
            overwriteInitial: false,
            //initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            //initialPreview: [{{ general|json_encode() }}],
            initialPreviewShowDelete: true,
            //initialPreviewConfig: [{key: {{ general|json_encode() }}],
            deleteExtraData: {_token: $('input[name="realestatebundle_adverts[_token]"]').val()},
            deleteUrl: "/cabinet/adverts/deleteImages"
        });
        //Kartik initial preview Additional
        $("#realestatebundle_adverts_images").fileinput({
            uploadUrl: window.location.origin+"/app_dev.php/posts/uploadimages",
            uploadAsync: true,
            maxFileCount: 10,
            purifyHtml: true, // this by default purifies HTML data for preview
            dropZoneEnabled: false,
            overwriteInitial: false,
            allowedFileExtensions:  ['jpg', 'png','gif'],
            uploadExtraData: {_token: $('input[name="realestatebundle_adverts[_token]"]').val()},
            //initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            //initialPreview: imagesPreview,
            //initialPreviewShowDelete: true,
            //initialPreviewConfig: imagesConfig

            //[{caption: "cat.jpg", key:"cat.jpg"},{key:"wolf.jpg"}]
            //{key: "cat.jpg"}
            //{key: "wolf.jpg"}
            //,
            //fileActionSettings: [{showUpload: true}],
            //deleteExtraData: {_token: $('input[name="realestatebundle_adverts[_token]"]').val()},
            //deleteUrl: "/cabinet/adverts/deleteImages"

        });
    </script>
    <style>.input-group .form-control{float: none;}</style>
{% endblock %}