{% extends '@Realestate/admin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include '@Realestate/includes/sidebar.html.twig' %}

            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Adverts</div>
                    <div class="panel-body">
                        <a href="{{ path('posts_new') }}" class="btn btn-success btn-sm" title="Add New Post">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add New
                        </a>
                        <form method="get" class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                        </form>

                        <br/>
                        <br/>
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Price</th>
                                    <th>Address</th>
                                    <th>Fk agent</th>
                                    <th>Bedroom</th>
                                    <th>Livingroom</th>
                                    <th>Parking</th>
                                    <th>Kitchen</th>
                                    <th>General Image</th>
                                    <th>Description</th>
                                    <th>Location</th>
                                    <th>Hot</th>
                                    <th>Sold</th>
                                    <th>Type</th>
                                    <th>Recommend</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for advert in adverts %}
                                    <tr>
                                        <td><a href="{{ path('posts_show', { 'id': advert.id }) }}">{{ advert.id }}</a></td>
                                        <td>{{ advert.price }}</td>
                                        <td>{{ advert.address }}</td>
                                        <td>{{ advert.fkagent }}</td>
                                        <td>{{ advert.bedroom }}</td>
                                        <td>{{ advert.livingroom }}</td>
                                        <td>{{ advert.parking }}</td>
                                        <td>{{ advert.kitchen }}</td>
                                        <td>{{ advert.generalimage }}</td>
                                        <td>{{ advert.description|truncate(20,true) }}</td>
                                        <td>{{ advert.location }}</td>
                                        <td>{{ advert.hot }}</td>
                                        <td>{{ advert.sold }}</td>
                                        <td>{{ advert.type }}</td>
                                        <td>{{ advert.recommend }}</td>
                                        {#<td>{% if advert.updated %}{{ advert.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{% if advert.created %}{{ advert.created|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                                        <td>
                                            <a href="{{ path('posts_show', { 'id': advert.id }) }}" title="View Post"><button class="btn btn-info btn-xs"><i class="fa fa-eye" aria-hidden="true"></i> Show</button></a>
                                            <a href="{{ path('posts_edit', { 'id': advert.id }) }}" title="Edit Post"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination-wrapper"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
