{% extends '@Realestate/admin.html.twig' %}

{% block body %}
    {#<h1>Advert creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('posts_index') }}">Back to the list</a>
        </li>
    </ul>#}

<div class="container">
    <div class="row">
        {% include '@Realestate/includes/sidebar.html.twig' %}

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Create New Post</div>
                <div class="panel-body">
                    <a href="{{ path('posts_index') }}" title="Back"><button class="btn btn-warning btn-xs"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>
                    <br />
                    <br />

                    {#{% if form_errors() is not empty %}
                    <ul class="alert alert-danger">
                        <li>{{ dump(form_errors()) }}</li>
                    </ul>
                    {% endif %}#}

                    {{ form_start(form, {'method': 'post', 'attr': {'class': 'form-horizontal', 'enctype': 'multipart/form-data'}}) }}
                    <div class="form-group">
                        {{ form_label(form.price) }}
                        <div class="col-md-6">
                            {{ form_widget(form.price) }}
                            {#{!! $errors->first('price', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.address) }}
                        <div class="col-md-6">
                            {{ form_widget(form.address) }}
                            {#{!! $errors->first('address', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    {#<div class="form-group">
                        {{ form_label(form.location) }}
                        <div class="col-md-6">
                            <div id="map_canvas" style="width:100%; height:280px"></div>
                        </div>
                    </div>#}

                    <div class="form-group">
                        {{ form_label(form.bedroom) }}
                        <div class="col-md-6">
                            {{ form_widget(form.bedroom) }}
                            {#{!! $errors->first('bedroom', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.livingroom) }}
                        <div class="col-md-6">
                            {{ form_widget(form.livingroom) }}
                            {#{!! $errors->first('livingroom', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.parking) }}
                        <div class="col-md-6">
                            {{ form_widget(form.parking) }}
                            {#{!! $errors->first('parking', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.kitchen) }}
                        <div class="col-md-6">
                            {{ form_widget(form.kitchen) }}
                            {#{!! $errors->first('kitchen', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        <div class="col-md-6">
                            {{ form_widget(form.description) }}
                            {#{!! $errors->first('description', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.hot) }}
                        <div class="col-md-6">
                            {{ form_widget(form.hot.0) }}
                            {{ form_widget(form.hot.1) }}
                            {#{!! $errors->first('hot', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.sold) }}
                        <div class="col-md-6">
                            {{ form_widget(form.sold.0) }}
                            {{ form_widget(form.sold.1) }}
                            {#{!! $errors->first('sold', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.type) }}
                        <div class="col-md-6">
                            {{ form_widget(form.type) }}
                            {#{!! $errors->first('type', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.recommend) }}
                        <div class="col-md-6">
                            {{ form_widget(form.recommend.0) }}
                            {{ form_widget(form.recommend.1) }}
                            {#{!! $errors->first('recommend', '<p class="help-block">:message</p>') !!}#}
                        </div>
                    </div>
                    {#{!! Form::hidden('location', null, ['id' => 'location']) !!}#}
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-4">
                            <input type="submit" class="btn btn-primary" value="Create" />
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
