{% extends 'base.html.twig' %}

{% block body %}
    {#<h1>Advert</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ advert.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ advert.address }}</td>
            </tr>
            <tr>
                <th>Fkagent</th>
                <td>{{ advert.fkAgent }}</td>
            </tr>
            <tr>
                <th>Bedroom</th>
                <td>{{ advert.bedroom }}</td>
            </tr>
            <tr>
                <th>Livingroom</th>
                <td>{{ advert.livingroom }}</td>
            </tr>
            <tr>
                <th>Parking</th>
                <td>{{ advert.parking }}</td>
            </tr>
            <tr>
                <th>Kitchen</th>
                <td>{{ advert.kitchen }}</td>
            </tr>
            <tr>
                <th>Generalimage</th>
                <td>{{ advert.generalImage }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advert.description }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ advert.location }}</td>
            </tr>
            <tr>
                <th>Hot</th>
                <td>{{ advert.hot }}</td>
            </tr>
            <tr>
                <th>Sold</th>
                <td>{{ advert.sold }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ advert.type }}</td>
            </tr>
            <tr>
                <th>Recommend</th>
                <td>{{ advert.recommend }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if advert.updated %}{{ advert.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if advert.created %}{{ advert.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('posts_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('posts_edit', { 'id': advert.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}

<div class="container">
    <div class="row">
        {% include '@Realestate/includes/sidebar.html.twig' %}

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Post {{ advert.id }}</div>
                <div class="panel-body">

                    <a href="{{ path('posts_index') }}" title="Back"><button class="btn btn-warning btn-xs"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>
                    <a href="{{ path('posts_edit', { 'id': advert.id }) }}" title="Edit Post"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button></a>
                    {{ form_start(delete_form, {'attr' : {'style': 'display: inline','onclick': 'return confirm("Confirm Delete?")'}}) }}
                    <button type="submit" class="btn btn-danger btn-xs" value="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button>
                    {{ form_end(delete_form) }}
                    <br/>
                    <br/>

                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <th> ID </th><td>{{ advert.id }}</td>
                            </tr>
                            <tr><th> Price </th><td> {{ advert.price }} </td></tr>
                            <tr><th> Address </th><td> {{ advert.address }} </td></tr>
                            <tr><th> Fk_agent </th><td> {{ advert.fkagent }} </td></tr>
                            <tr><th> Bedrooms </th><td> {{ advert.bedroom }} </td></tr>
                            <tr><th> Livingrooms </th><td> {{ advert.livingroom }} </td></tr>
                            <tr><th> Parking </th><td> {{ advert.parking }} </td></tr>
                            <tr><th> Kitchen </th><td> {{ advert.kitchen }} </td></tr>
                            <tr><th> General_image </th><td> {{ advert.generalimage }} </td></tr>
                            <tr><th> Description </th><td> {{ advert.description }} </td></tr>
                            <tr><th> Location </th><td> {{ advert.location }} </td></tr>
                            <tr><th> Hot </th><td> {{ advert.hot }} </td></tr>
                            <tr><th> Sold </th><td> {{ advert.sold }} </td></tr>
                            <tr><th> Type </th><td> {{ advert.type }} </td></tr>
                            <tr><th> Recommend </th><td> {{ advert.recommend }} </td></tr>
                            <tr><th> Created_at </th><td> {{ advert.created|date('Y-m-d H:i:s') }} </td></tr>
                            <tr><th> Updated_at </th><td> {{ advert.updated|date('Y-m-d H:i:s') }} </td></tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
