{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="inside-banner">
        <div class="container">
            <span class="pull-right"><a href="">Home</a> {{ app.request.pathinfo }}</span>
            <h2>Register</h2>
        </div>
    </div>
    <!-- banner -->
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
