{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="spacer">
        <div class="row register">
            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <div class="form-group-register {% if form_errors(form.email) is not empty %} has-error {% endif %}">
                    {{ form_widget(form.email, { 'attr': {'placeholder': 'Email'} }) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group-register {% if form_errors(form.username) is not empty %} has-error {% endif %}">
                    {{ form_widget(form.username, { 'attr': {'placeholder': 'Username'} }) }}
                    {{ form_errors(form.username) }}
                </div>
                <div class="form-group-register {% if form_errors(form.plainPassword.first) is not empty %} has-error {% endif %}">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'Password'} }) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="form-group-register {% if form_errors(form.plainPassword.first) is not empty %} has-error {% endif %}">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'Confirm password'} }) }}
                </div>
                <div class="form-group-register">
                    <input type="submit" class="btn btn-success" value="{{ 'Register' }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
