<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin Realestate!{% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('source/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('source/kartik/css/fileinput.min.css') }}" rel="stylesheet">
        <link href="{{ asset('source/app.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block javascripts %}
        <script src="{{ asset('source/js/jquery-1.9.1.min.js') }}" ></script>
        <script src="{{ asset('source/bootstrap/js/bootstrap.js') }}" ></script>
        <!-- sortable plugin for sorting/rearranging initial preview -->
        <script src="{{ asset('source/kartik/js/plugins/sortable.min.js') }}"></script>
        <!-- purify plugin for safe rendering HTML content in preview -->
        <script src="{{ asset('source/kartik/js/plugins/purify.min.js') }}"></script>
        <script src="{{ asset('source/kartik/js/fileinput.min.js') }}"></script>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" href="{{ path('realestate_main_index') }}">Realestate</a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                &nbsp;
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                            {{ app.getUser() }} <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ logout_path('main') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}

<script src="{{ asset('source/ajax.js') }}"></script>
</body>
</html>