<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Realestate!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('source/bootstrap/css/bootstrap.css') }}" />
        <link href="{{ asset('source/style.css') }}" rel="stylesheet">
        <link href="{{ asset('source/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('source/owl-carousel/owl.theme.css') }}" rel="stylesheet">
        <link href="{{ asset('source/slitslider/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('source/slitslider/css/custom.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block javascripts %}
        <script src="{{ asset('source/js/jquery-1.9.1.min.js') }}"></script>
        <script src="{{ asset('source/bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('source/script.js') }}" ></script>
        <script src="{{ asset('source/owl-carousel/owl.carousel.js') }}" ></script>
        <script src="{{ asset('source/slitslider/js/modernizr.custom.79639.js') }}" ></script>
        <script src="{{ asset('source/slitslider/js/jquery.ba-cond.min.js') }}" ></script>
        <script src="{{ asset('source/slitslider/js/jquery.slitslider.js') }}" ></script>
    {% endblock %}
</head>
<body>
{% include('RealestateBundle:includes:header.html.twig') %}

{% block body %}{% endblock %}

{% include('RealestateBundle:includes:footer.html.twig') %}
{% include('RealestateBundle:includes:modal.html.twig') %}
<script src="{{ asset('source/ajax.js') }}"></script>
</body>
</html>
