{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container">
    <div class="spacer">
        <div class="row register">
            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline" id="login">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="form-group-login">
                        <input type="text" id="username" class="form-control" name="_username" placeholder="Enter Email" value="{{ last_username }}" required autofocus>

                        {#<span class="help-block">
                                <strong></strong>
                        </span>#}
                    </div>
                    <div class="form-group-login">
                        <input type="password" id="password" class="form-control" name="_password" placeholder="Password" required="required" />

                        {#<span class="help-block">
                                <strong></strong>
                        </span>#}
                    </div>
                    <div class="form-group-login">
                        <div class="checkbox">
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="remember_me" value="on" style="height: 12px;"> Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="form-group-login">
                        <input type="submit" id="_submit" name="_submit" class="btn btn-success" value="{{ 'security.login.submit'|trans }}" />

                        {#<a class="btn btn-link" href="{{ route('password.request') }}">
                            Forgot Your Password?
                        </a>#}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>