<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Realestate!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('source/bootstrap/css/bootstrap.css') }}" />
            <link href="{{ asset('source/style.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            <script src="{{ asset('source/js/jquery-1.9.1.min.js') }}"></script>
            <script src="{{ asset('source/bootstrap/js/bootstrap.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    {% include('RealestateBundle:includes:header.html.twig') %}
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    {% include('RealestateBundle:includes:footer.html.twig') %}
    {% include('RealestateBundle:includes:modal.html.twig') %}
    </body>

</html>
