<!-- Header Starts -->
<div class="navbar-wrapper">

    <div class="navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">


                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ path('realestate_main_index') }}" >Home</a></li>
                    <li><a href="#" >About</a></li>
                    <li><a href="#" >Contact</a></li>
                </ul>
            </div>
            <!-- #Nav Ends -->

        </div>
    </div>

</div>
<!-- #Header Starts -->





<div class="container">

    <!-- Header Starts -->
    <div class="header">
        <a href="{{ path('realestate_main_index') }}" ><img src="{{ asset('images/logo.png') }}"  alt="Realestate"></a>

        <ul class="pull-right">
            {% if app.user %}
                <li><a href="{{ logout_path('main') }}">Logout</a></li>
            {%  else %}
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                <li><a href="#" data-toggle="modal" data-target="#loginpop">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>
    <!-- #Header Starts -->