{% trans_default_domain 'FOSUserBundle' %}
<!-- Modal -->
<div id="loginpop" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-6 login">
                    <h4>Login</h4>
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" id="login">
                            <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.refreshToken('authenticate') }}">
                        <div class="form-login">
                            <label class="sr-only" for="username">Email address</label>
                            <input type="text" id="username" class="form-control" name="_username" placeholder="Enter Email" value="{{ app.session.get('Security::LAST_USERNAME') }}" required autofocus>

                            <span class="help-block"></span>
                        </div>
                        <div class="form-login">
                            <label class="sr-only" for="password">Password</label>
                            <input type="password" id="password" class="form-control" name="_password" placeholder="Password" required="required" />
                        </div>
                        <div class="checkbox" style="margin-bottom: 15px">
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="remember_me" value="on"> Remember Me
                            </label>
                        </div>
                        <input type="submit" id="_submit" name="_submit" class="btn btn-success" value="Login" />
                    </form>
                </div>
                <div class="col-sm-6">
                    <h4>New User Sign Up</h4>
                    <p>Join today and get updated with all the properties deal happening around.</p>
                    <button type="submit" class="btn btn-info"  onclick="window.location.href='{{ path('fos_user_registration_register') }}'">Join Now</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /.modal -->