{% extends '@Realestate/main.html.twig' %}

{% block body %}

<div class="">

    <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">

            {% for adv in adverts %}
            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner">
                    <div class="bg-img" style="background-image: url('/uploads/{{ adv.id }}/general/{{ adv.generalimage }} ')"></div>
                    <h2><a href="">{% if (adv.bedroom > 1) %}
                            {{ adv.bedroom }}  Bedrooms and
                            {% else %}
                            {{ adv.bedroom }}  Bedroom and
                            {% endif %}

                            {% if(adv.livingroom > 1) %}
                            {{ adv.livingroom }}  Living Rooms
                            {% else %}
                            {{ adv.livingroom }}  Living Room
                            {% endif %}
                            Aparment on Sale</a>
                    </h2>
                    <blockquote>
                        <p class="location"><span class="glyphicon glyphicon-map-marker"></span>{{ adv.address }}</p>
                        <p>{{ adv.description|truncate(50,true) }}</p>
                        <cite>$ {{ adv.price|number_format }}</cite>
                    </blockquote>
                </div>
            </div>
            {% endfor %}
        </div><!-- /sl-slider -->



        <nav id="nav-dots" class="nav-dots">
            {% if (adverts_count >= 1) %}
            <span class="nav-dot-current"></span>
            {% endif %}
            {% for line in range(2,adverts_count) %}
            <span></span>
            {% endfor %}
        </nav>

    </div><!-- /slider-wrapper -->
</div>


<div class="banner-search">
    <div class="container">
        <!-- banner -->
        <h3>Buy, Sale & Rent</h3>
        <div class="searchbar">
            <div class="row">

                {{ form_start(form, {'method': 'GET'}) }}
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.advert) }}
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 ">
                            {{ form_row(form.property) }}
                        </div>
                        <div class="col-lg-3 col-sm-4">
                            {{ form_row(form.price) }}
                        </div>
                        <div class="col-lg-3 col-sm-4">
                            <input class="btn btn-success" type="submit" value="Find">
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}

                {% if not app.user %}
                <div class="col-lg-5 col-lg-offset-1 col-sm-6 ">
                    <p>Join now and get updated with all the properties deals.</p>
                    <button class="btn btn-info" data-toggle="modal" data-target="#loginpop">Login</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- banner -->
<div class="container">
    <div class="properties-listing spacer"> <a href=""  class="pull-right viewall">View All Listing</a>
        <h2>Featured Properties</h2>
        <div id="owl-example" class="owl-carousel">

            {% for feat in featured %}
            <div class="properties">
                <div class="image-holder"><img src="/uploads/{{ feat.id }}/general/small_{{ feat.generalimage }}"  class="img-responsive" alt="properties"/>
                    <div class="status {% if feat.sold %} sold {% else %} new {% endif %}">{% if feat.sold %} sold {% else %} new {% endif %}</div>
                </div>
                <h4><a href="" >
                        {% if (feat.bedroom > 1) %}
                            {{ feat.bedroom }}  Bedrooms and
                        {% else %}
                            {{ feat.bedroom }}  Bedroom and
                        {% endif %}

                        {% if(feat.livingroom > 1) %}
                            {{ feat.livingroom }}  Living Rooms
                        {% else %}
                            {{ feat.livingroom }}  Living Room
                        {% endif %}
                        Aparment on Sale</a>
                </h4>
                <p class="price">Price: ${{ feat.price|number_format }}</p>
                <div class="listing-detail">
                    <span data-toggle="tooltip" data-placement="bottom" data-original-title="Bedroom">{{ feat.bedroom }}</span>
                    <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">{{ feat.livingroom }}</span>
                    <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">{{ feat.parking }}</span>
                    <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">{{ feat.kitchen }}</span>
                </div>
                <a class="btn btn-primary" href="" >View Details</a>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="spacer">
        <div class="row">
            <div class="col-lg-6 col-sm-9 recent-view">
                <h3>About Us</h3>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.<br>
                    <a href="" >Learn More</a>
                </p>

            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-3 recommended">
                <h3>Recommended Properties</h3>
                <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        {% if recommend_count >= 1 %}
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        {% endif %}

                        {% if recommend_count > 1 %}
                        {% for count in range(1,recommend_count-1) %}

                        <li data-target="#myCarousel" data-slide-to="{{ count }}"></li>
                        {% endfor %}
                        {% endif %}

                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        {% for rec in recommend %}
                        <div class="item {% if loop.first %} active {% endif %}">
                            <div class="row">
                                <div class="col-lg-4"><img src="/uploads/{{ rec.id }}/general/small_{{ rec.generalimage }}"  class="img-responsive" alt="properties"/></div>
                                <div class="col-lg-8">
                                    <h5><a href="" >
                                            {% if rec.bedroom > 1 %}
                                                {{ rec.bedroom }}  Bedrooms and
                                            {% else %}
                                                {{ rec.bedroom }}  Bedroom and
                                            {% endif %}

                                            {% if rec.livingroom > 1 %}
                                                {{ rec.livingroom }}  Living Rooms
                                            {% else %}
                                                {{ rec.livingroom }}  Living Room
                                            {% endif %}
                                            Aparment on Sale</a></h5>
                                    <p class="price">${{ rec.price|number_format }}</p>
                                    <a href="" class="more">More Detail</a> </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
